.item {
  padding: 0;
  margin: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
button {
  background-color: skyblue;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  border: 1px solid white;
}
.previous-page {
  color: rgba(213, 4, 255, 0.932);
  font-weight: bolder;
}
.next-page {
  color: white;
  font-weight: bolder;
}
.page {
  font-size: 1.1rem;
  margin: 0 0.7rem;
}
